:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-dark-theme: #ffffff;
  --primary-text-color-light-theme: #303030;
  --secondary-text-color-dark-theme: #9da4bd;
  --secondary-text-color-light-theme: #555555;
  --accent-color: #ff6c00;
  --transition-dur-and-func: 250ms linear;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* ======COMPONENTS===== */
.modal-btn {
  min-width: 160px;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--primary-text-color-dark-theme);
  background-color: transparent;

  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}
.modal-btn-light-theme {
  color: var(--primary-text-color-light-theme);
}
.modal-btn-dark-theme {
  color: var(--primary-text-color-dark-theme);
}
.media-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.media-list::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--primary-text-color-light-theme);
}
.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}
.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.subtitle::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

.subtitle-dark-theme {
  color: rgba(157, 164, 189, 0.6);
}
.subtitle-light-theme {
  color: var(--primary-text-color-light-theme);
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.section-description-dark-theme {
  color: var(--secondary-text-color-dark-theme);
}
.section-description-light-theme {
  color: var(--secondary-text-color-light-theme);
}
.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.title-light-theme {
  color: var(--primary-text-color-light-theme);
  margin-bottom: 20px;
}
.title-dark-theme {
  color: var(--primary-text-color-dark-theme);
  margin-bottom: 44px;
}
/* =====HEADER===== */
.page-header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--primary-text-color-dark-theme);

  transition: color var(--transition-dur-and-func);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--primary-text-color-dark-theme);

  margin-left: auto;
  margin-right: 40px;

  transition: color var(--transition-dur-and-func);
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
.page-header-container {
  display: flex;
  align-items: center;
}
.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 70px;
}
.menu {
  display: flex;
  column-gap: 40px;
}

/* =====HERO===== */
.hero-container {
  display: flex;
}
.hero-left-side {
  width: 100px;
}
.media-list-hero {
  position: absolute;

  transform: rotate(-90deg) translate(-480px, -110px);
}
.hero-right-side {
  flex-grow: 1;
  padding-left: 100px;
  padding-bottom: 206px;
  padding-top: 272px;

  background-color: #303030;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url('../images/hero/slider_img3.jpg');
  background-size: cover;
}

.main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 72px;

  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--primary-text-color-dark-theme);
}
.hero-section-description {
  width: 370px;
}
/* =====ABOUT===== */
.about-container {
  display: flex;
  justify-content: space-between;
}
.about-left-side,
.about-right-side {
  flex-basis: calc((100% - 64px) / 2);
}
.about-gallery {
  display: flex;
  gap: 30px;
}
.about-title {
  width: 450px;
}
.about-section-description {
  margin-bottom: 20px;
  width: 500px;
}
.about-text {
  width: 490px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-light-theme);
}
/* =====SERVICES===== */
.services {
  background-color: #111319;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/services/services-bg.jpg');
  background-size: cover;
}
.services-table-wrapper {
  display: flex;
}
.services-table {
  flex-basis: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
  /* border: 1px solid grey; */
}
.services-table-row {
  display: flex;
  justify-content: space-between;
}
.services-table-row:not(:last-child) {
  margin-bottom: 20px;
}
.services-table-name,
.services-table-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: right;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);
}
.services-modal-btn {
  display: block;
  margin: 0 auto;
}
/* =====ADVANTAGES===== */
.advantages-container {
  display: flex;
  justify-content: space-around;
}
/* .advantages-left-side,
.advantages-right-side {
  flex-basis: calc((100% - 30px) / 2);
} */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-start;
  width: 370px;
  margin: 0 auto;
}
.advantages-list-item {
  width: 170px;
  min-height: 133px;
  padding: 21px;
  background-color: #f7f7f7;
}
.advantages-list-item:nth-child(even) {
  margin-top: 30px;
}
.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--primary-text-color-light-theme);
}
.advantages-list-description {
  width: 124px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--primary-text-color-light-theme);
}
.advantages-title {
  width: 400px;
}
.advantages-section-description {
  width: 500px;
}
/* =====EMPLOYEES===== */
.employees-section {
  background-color: #f7f7f7;
}
.employees-section-title {
  margin-bottom: 44px;
}
.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.employees-card {
  flex-basis: calc((100% - 60px) / 3);
}
.employees-content-wrapper {
  padding-top: 30px;
}
.employees-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-light-theme);
}
.employees-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.social-list {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.social-list-icon {
  fill: #303030;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #303030;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--accent-color);
}
/* =====PORTFOLIO===== */
.gallery-subtitle {
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
/* =====CONTACT INFO===== */
.contact-sections {
  display: flex;
  justify-content: center;
}
.contact-form-section {
  background-color: #191c26;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 193px;
}
.contact-form-section-container {
  width: 655px;
  padding-left: 15px;
  padding-right: 15px;
}
.contact-info-section-container {
  width: 625px;
  padding-left: 100px;
  padding-right: 15px;
}
/* .contact-form-inputs-wrapper {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 44px;
} */
.contact-form {
  display: flex;
  justify-content: space-between;
  row-gap: 44px;
  flex-wrap: wrap;
}
.contact-form-field {
  width: 270px;
}
.contact-form-field {
  /* flex-basis: 50%; */
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;

  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;

  color: rgba(157, 164, 189, 0.4);
  transition: border-bottom-color 250ms ease;
}
.contact-form-field::placeholder {
  text-transform: uppercase;
  transition: color 250ms ease;
}
.contact-form-field:focus {
  color: #ffffff;
  border-bottom-color: #ffffff;
}
.contact-form-field:focus::placeholder {
  color: #ffffff;
}
.contact-form-textarea {
  width: 100%;
  margin-bottom: 44px;
  resize: none;
  display: block;
  padding-bottom: 60px;
}
.contact-info-section {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/contacts/contacts-info-bg.jpg');
  background-size: cover;
  background-color: #191c26;
}
.contact-info {
  font-style: normal;
}
.contact-list {
  margin-bottom: 70px;
}
.contact-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.contact-list-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);
}
.contact-list-link-bold {
  font-weight: 700;
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}
.contact-list-icon {
  margin-right: 20px;
  stroke: currentColor;
}
.contact-info-date {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);
}
/* =====FOOTER===== */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f7f7f7;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color-dark-theme);
}

/* =====BACKDROP===== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1000;

  transition: opacity 500ms ease-in-out, visibility 500ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ===== MODAL WINDOW ===== */
.modal {
  width: 528px;
  height: 580px;
  padding: 44px;
  background-color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid #555555;
  border-radius: 50%;
  background-color: transparent;

  transition: border-color var(--transition-dur-and-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--accent-color);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}
.modal-close-icon {
  transition: fill var(--transition-dur-and-func);
}

/* ===== MODAL FORM ===== */
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-capture {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-text-color-light-theme);
  margin-bottom: 30px;
}
.modal-form-field {
  margin-bottom: 20px;
}
.modal-form-input-desc {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #555555;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid #555555;
  border-radius: 5px;
  padding-left: 42px;

  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid #555555;
  border-radius: 5px;
  padding: 15px;

  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
