:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-dark-theme: #ffffff;
  --primary-text-color-light-theme: #303030;
  --secondary-text-color-dark-theme: #9da4bd;
  --secondary-text-color-light-theme: #555555;
  --accent-color: #ff6c00;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* ======COMPONENTS===== */
.modal-btn {
  min-width: 160px;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  /* color: var(--primary-text-color-dark-theme); */
  background-color: transparent;
  color: black;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}
.modal-btn-theme-light {
  color: var(--primary-text-color-theme-light);
}
.modal-btn-theme-dark {
  color: var(--primary-text-color-theme-dark);
}
.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--primary-text-color-light-theme);
}
.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}
.subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.subtitle-dark-theme {
  color: rgba(157, 164, 189, 0.6);
}
.subtitle-light-theme {
  color: var(--primary-text-color-light-theme);
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.section-description-dark-theme {
  color: var(--secondary-text-color-dark-theme);
}
.section-description-light-theme {
  color: var(--secondary-text-color-light-theme);
}
.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.title-light-theme {
  color: var(--primary-text-color-light-theme);
  margin-bottom: 20px;
}
.title-dark-theme {
  /* color: var(--primary-text-color-dark-theme); */
  color: black;
  margin-bottom: 44px;
}
/* =====HEADER===== */
.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: var(--primary-text-color-dark-theme); */
  color: black;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: var(--primary-text-color-dark-theme); */
  color: black;

  margin-left: auto;
  margin-right: 40px;
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
.page-header-container {
  display: flex;
  align-items: center;
}
.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 70px;
}
.menu {
  display: flex;
  column-gap: 40px;
}

/* =====HERO===== */
.hero-container {
  display: flex;
}
.hero-left-side {
  width: 100px;
}
.hero-right-side {
  flex-grow: 1;
  padding-left: 100px;
  padding-bottom: 206px;
  padding-top: 272px;
}
.media-list {
  display: flex;
  column-gap: 40px;
}
.main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 72px;

  line-height: 1.18;
  letter-spacing: 0.05em;

  /* color: var(--primary-text-color-dark-theme); */
  color: black;
}
.hero-section-description {
  width: 370px;
}
/* =====ABOUT===== */
.about-container {
  display: flex;
  justify-content: space-between;
}
.about-left-side,
.about-right-side {
  flex-basis: calc((100% - 64px) / 2);
}
.about-gallery {
  display: flex;
  gap: 30px;
}
.about-title {
  width: 450px;
}
.about-section-description {
  margin-bottom: 20px;
  width: 500px;
}
.about-text {
  width: 490px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-light-theme);
}
/* =====SERVICES===== */
.services-table-wrapper {
  display: flex;
}
.services-table {
  flex-basis: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
  /* border: 1px solid grey; */
}
.services-table-row {
  display: flex;
  justify-content: space-between;
}
.services-table-row:not(:last-child) {
  margin-bottom: 20px;
}
.services-table-name,
.services-table-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: right;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);
}
.services-modal-btn {
  display: block;
  margin: 0 auto;
}
/* =====ADVANTAGES===== */
.advantages-container {
  display: flex;
  justify-content: space-around;
}
/* .advantages-left-side,
.advantages-right-side {
  flex-basis: calc((100% - 30px) / 2);
} */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-start;
  width: 370px;
  margin: 0 auto;
}
.advantages-list-item {
  width: 170px;
  min-height: 133px;
  padding: 21px;
  background-color: #f7f7f7;
}
.advantages-list-item:nth-child(even) {
  margin-top: 30px;
}
.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--primary-text-color-light-theme);
}
.advantages-list-description {
  width: 124px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--primary-text-color-light-theme);
}
.advantages-title {
  width: 400px;
}
.advantages-section-description {
  width: 500px;
}
/* =====EMPLOYEES===== */
.employees-section {
  background-color: #f7f7f7;
}
.employees-section-title {
  margin-bottom: 44px;
}
.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.employees-card {
  flex-basis: calc((100% - 60px) / 3);
}
.employees-content-wrapper {
  padding-top: 30px;
}
.employees-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-light-theme);
}
.employees-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
/* =====PORTFOLIO===== */
.gallery-subtitle {
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
/* =====CONTACT INFO===== */
.contact-info {
  font-style: normal;
}
.contact-list {
  margin-bottom: 70px;
}
.contact-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.contact-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);
}
.contact-list-link-bold {
  font-weight: 700;
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}
.contact-info-date {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);
}
/* =====FOOTER===== */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f7f7f7;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color-dark-theme);
}
