:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-dark-theme: #ffffff;
  --primary-text-color-light-theme: #303030;
  --secondary-text-color-dark-theme: #9da4bd;
  --secondary-text-color-light-theme: #555555;
  --accent-color: #ff6c00;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ======COMPONENTS===== */
.modal-btn {
  min-width: 160px;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  /* color: var(--primary-text-color-dark-theme); */
  background-color: transparent;
  color: black;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}
.modal-btn-theme-light {
  color: var(--primary-text-color-theme-light);
}
.modal-btn-theme-dark {
  color: var(--primary-text-color-theme-dark);
}
.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--primary-text-color-light-theme);
}
.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.subtitle-dark-theme {
  color: rgba(157, 164, 189, 0.6);
}
.subtitle-light-theme {
  color: var(--primary-text-color-light-theme);
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.section-description-dark-theme {
  color: var(--secondary-text-color-dark-theme);
}
.section-description-light-theme {
  color: var(--secondary-text-color-light-theme);
}
.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.title-light-theme {
  color: var(--primary-text-color-light-theme);
}
.title-dark-theme {
  /* color: var(--primary-text-color-dark-theme); */
  color: black;
}
/* =====HEADER===== */
.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: var(--primary-text-color-dark-theme); */
  color: black;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: var(--primary-text-color-dark-theme); */
  color: black;

  margin-left: auto;
  margin-right: 40px;
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
.page-header-container {
  display: flex;
  align-items: center;
}
.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 70px;
}
.menu {
  display: flex;
  column-gap: 40px;
}

/* =====HERO===== */
.main-title {
  font-family: var(--secondary-font);
  font-size: 72px;

  line-height: 1.18;
  letter-spacing: 0.05em;

  /* color: var(--primary-text-color-dark-theme); */
  color: black;
}
/* =====ABOUT===== */
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-light-theme);
}
/* =====SERVICES===== */
.services-table-name,
.services-table-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: right;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);
}
/* =====ADVANTAGES===== */
.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--primary-text-color-light-theme);
}
.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--primary-text-color-light-theme);
}
/* =====EMPLOYEES===== */
.employees-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-light-theme);
}
.employees-position {
  font-size: 14px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
/* =====GALLERY===== */
/* =====CONTACT INFO===== */
.contact-info {
  font-style: normal;
}
.contact-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);
}
.contact-list-link-bold {
  font-weight: 700;
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}
.contact-info-date {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);
}
/* =====FOOTER===== */
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color-dark-theme);
}
