.about__container {
  display: flex;
  justify-content: space-between;
}
.about_side_left,
.about_side_right {
  flex-basis: calc((100% - 64px) / 2);
}
.about-gallery {
  display: flex;
  gap: 30px;
}
.about__title {
  width: 450px;
}
.about__section-description {
  margin-bottom: 20px;
  width: 500px;
}
.about__text {
  width: 490px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-light-theme);
}
