/* .advantages-left-side,
  .advantages-right-side {
    flex-basis: calc((100% - 30px) / 2);
  } */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-start;
  max-width: 370px;
  margin: 0 auto;
}
.advantages-list__item {
  max-width: 170px;
  min-height: 133px;
  padding: 21px;
  background-color: #f7f7f7;

  &:nth-child(even) {
    margin-top: 30px;
  }
}
.advantages-list__quantity {
  @include font(42px, 700, 1.36);
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--primary-text-color-light-theme);
}
.advantages-list__description {
  width: 124px;
  @include font(11px, 600, 1.36);
  text-align: center;

  color: var(--primary-text-color-light-theme);
}
.advantages__title {
  max-width: 400px;
}

@media screen and (max-width: 392px) {
  .advantages-list__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .advantages_side_right {
    margin-top: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__container {
    display: flex;
    flex-direction: column;
  }
  .advantages__section-description {
    width: 500px;
  }
  .advantages_side_right {
    align-self: end;
    margin-top: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__container {
    display: flex;
    justify-content: space-around;
  }
  .advantages__section-description {
    width: 500px;
  }
  .advantages_side_right {
    order: -1;
  }
}
