@include mobile-only {
  .contact-form__field:first-child {
    margin-bottom: 44px;
  }
}

.contact-form-section {
  background-color: #191c26;
}

.contact-form__field {
  display: block;
  width: 100%;
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;

  font-family: var(--primary-font);
  font-style: normal;
  @include font;

  letter-spacing: 0.1em;

  color: rgba(157, 164, 189, 0.4);
  transition: border-bottom-color 250ms ease;

  &::placeholder {
    text-transform: uppercase;
    transition: color 250ms ease;
  }
  &:focus {
    color: #ffffff;
    border-bottom-color: #ffffff;
  }
  &:focus::placeholder {
    color: #ffffff;
  }
}
.contact-form__textarea {
  width: 100%;
  margin-top: 44px;
  margin-bottom: 44px;
  resize: none;
  display: block;
  padding-bottom: 60px;
}
.contact-form-section__modal-btn {
  display: block;
  margin: 0 auto;
}
.contact-info-section {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/contacts/contacts-info-bg.jpg');
  background-size: cover;
  background-color: #191c26;
}
.contact-info {
  font-style: normal;
}
.contact-list {
  margin-bottom: 44px;
}
.contact-list__item:not(:last-child) {
  margin-bottom: 20px;
}
.contact-list__link {
  display: flex;
  align-items: center;
  @include font(18px, 400, 1.67);

  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contact-list__link-bold {
  font-weight: 700;
}
.contact-list__icon {
  margin-right: 20px;
  stroke: currentColor;
}
.contact-info__date {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark-theme);
}

.contact-form-inputs-wrapper {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 44px;
  }
}

.contact-form__textarea {
  @include tablet {
    width: 100%;
  }
}

@include tablet-only {
  .contact-info-section__info-wrapper {
    display: flex;
    column-gap: 100px;
  }
}

@include desktop {
  .contact-sections {
    display: flex;
    justify-content: center;
  }
  .contact-form-section {
    padding-bottom: 193px;
    width: calc(100% / 2 + 30px / 2);
  }
  .contact-info-section {
    width: calc(100% / 2 - 30px / 2);
  }
  .contact-form-section__container {
    width: 590px;
    margin: 0 auto;
  }
  .contact-info-section__container {
    width: 580px;
    padding-left: 100px;
  }
  .contact-form__field {
    width: 270px;
  }
  .contact-form__textarea {
    width: 100%;
  }
  .contact-list {
    margin-bottom: 70px;
    max-width: 230px;
  }
}
