.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}
.copyright {
  @include font;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color-dark-theme);
}
.footer__container {
  @include flexBox(space-between, center);
}

@include mobile-only {
  .footer__container {
    flex-direction: column;
    gap: 20px;
    align-items: end;
  }
  .copyright {
    order: 1;
    align-self: start;
  }
}

@include tablet {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f7f7f7;
  }
}
