.gallery__subtitle {
  margin-bottom: 44px;
}

@include mobile-only {
  .gallery-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@include tablet {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .gallery-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@include desktop {
  .gallery-list__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}
