.page-header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu__link {
  @include font(12px, 600, 1.33);
  letter-spacing: 0.1em;

  color: var(--primary-text-color-dark-theme);

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.page-header__contact-phone-number {
  margin-left: auto;
  margin-right: 40px;
}
.page-header__container {
  display: flex;
  align-items: center;
}
.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 70px;
}
.menu {
  display: flex;
  column-gap: 40px;
}
