.main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 48px;

  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--primary-text-color-dark-theme);
}
@media screen and (max-width: 479px) {
  .hero {
    background-color: #303030;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('../images/hero/hero1-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-position: right 0 bottom 0;
  }
  .main-title {
    font-size: 42px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px),
  screen and (min-resolution: 192dpi) and (max-width: 479px),
  screen and (min-resolution: 2dppx) and (max-width: 479px) {
  .hero {
    background-color: #303030;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('../images/hero/hero1-mobile@2x.jpg');
    background-size: cover;
    background-position: center;
    background-position: right 0 bottom 0;
  }
}

@include mobile-only {
  .hero {
    padding-left: 31px;
    padding-bottom: 183px;
    padding-top: 208px;

    background-color: #303030;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('../images/hero/hero1-mobile.jpg');
    background-size: cover;
  }
  .hero_side_left {
    display: none;
  }
}

@include mobile-only-retina {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('../images/hero/hero1-mobile@2x.jpg');
  }
}

@include tablet {
  .hero__container {
    display: flex;
  }
  .hero_side_left {
    display: block;
    width: 100px;
    position: relative;
  }
  .hero__media-list {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
  }
  .hero_side_right {
    flex-grow: 1;
    padding-left: 70px;
    padding-bottom: 234px;
    padding-top: 280px;

    background-color: #303030;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('../images/hero/hero1-tablet.jpg');
    background-size: cover;
  }
}

@include tablet-retina {
  .hero_side_right {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('../images/hero/hero1-tablet@2x.jpg');
  }
}

@include desktop {
  .main-title {
    font-size: 72px;
  }
  .hero_side_right {
    padding-left: 100px;
    padding-bottom: 206px;
    padding-top: 272px;

    background-color: #303030;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('../images/hero/hero1-desktop.jpg');
    background-size: cover;
  }
  .hero__section-description {
    width: 375px;
  }
}

@include desktop-retina {
  .hero_side_right {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url('../images/hero/hero1-desktop@2x.jpg');
  }
}
