.contact-phone-number {
  @include font(12px, 600, 1.33);
  letter-spacing: 0.1em;

  // color: var(--primary-text-color-dark-theme);

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
