.section-description {
  @include font(16px, 400, 1.63);
  letter-spacing: 0.02em;
}
.section-description_theme_dark {
  color: var(--secondary-text-color-dark-theme);
}
.section-description_theme_light {
  color: var(--secondary-text-color-light-theme);
}

@include mobile-only {
  .section-description {
    max-width: 418px;
  }
}

@include desktop {
  .section-description {
    @include font(18px, 600, 1.67);
  }
}
