.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @include font(11px, 600, 1.36);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;
  }
}

.subtitle-dark-theme {
  color: var(--secondary-text-color-dark-theme);

  &::before {
    background-color: var(--secondary-text-color-dark-theme);
  }
}
.subtitle-light-theme {
  color: var(--primary-text-color-light-theme);

  &::before {
    background-color: var(--primary-text-color-light-theme);
  }
}
