.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.title_theme_light {
  color: var(--primary-text-color-light-theme);
  margin-bottom: 20px;
}
.title_theme_dark {
  color: var(--primary-text-color-dark-theme);
  margin-bottom: 44px;
}
