.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include tablet {
  .container {
    width: 720px;
  }
}

@include desktop {
  .container {
    width: 1200px;
  }
}
